/* === GENERAL === */

body {
    display: flex;
    flex-direction: column;
    align-items: center;

}

/* === CANVAS === */

canvas {
    background-color: black;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 720px;
    align-items: center;
}
.d-none {
    display: none;
}

#startGame {
    
    position: relative;
}

.styleButton {
    width: 200px;
    height: 50px;
    background-color: rgb(182, 71, 7);
    border: 0;
    font-size: 20px;
    z-index: 1;
    position: absolute;
    bottom: 10px;
    right: 250px;
    opacity: 0.7;
}

.fullscreenLogo {
    width: 30px;
    height: 30px;
}